

input,  textarea, select{
	width: 100%;
	display:block;
	/* background-color: #e2e2e2; */
	outline: none;
	border-radius: 8px;
	margin: 1rem;
	border: none;
	line-height: 25px;
	text-indent: 4px;
}

select{
	padding: 0.6rem;
	text-indent: 0.4rem;
}


.flex-body{
	display: flex;
	align-items: center;
}


.main-div{
	background-color: #7abaf7;
	padding: 2rem;
	width: 20%;
	border-radius: 6px;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

label{
	display: block;
}

button{
	padding: 0.5rem;
	border-radius: 4px;
	border: none;
	width: 100%;
	margin: 0.4rem;
	cursor: pointer;

}